.del-btn{
    border-radius: 50%;
    width: 4.25vh;
    height: 4.25vh;
    background-color: rgb(167, 7, 39);
    transition: all .3s ease;
    align-items: center;
}

.del-btn:hover{
    background-color: darkred;
    border-radius: 5px;
    width: 100%;
    transition-delay: 3s;
    transition: all .3s ease;
}