@media (prefers-color-scheme: dark){
    body{
        background: #141414;
        color: #f1f1f1;
    }
    table{
        background: #292929;
    }
    tr{
        color: #f1f1f1;
    }
    input{
        background: #505050;
        color: #f1f1f1;
    }
}

.loader {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 120px;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.hidden{
    display: none;
}
.animated{
    animation: create_elem 1.5s ease;
}
@keyframes create_elem {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}